<p>Bienvenue dans Courses</p>
<!--exo 2-->
<h1>le titre est: {{coursesName}}</h1>
<!--exo3-->
<button [disabled]="isDisable">Commencer</button><br><br>
<!--exo4-->
<button (click)="startCourse()">Commencer le cours</button><br><br>
<!--exo5-->
<input [(ngModel)]="courseDescription" type="text" placeholder="Entrer la description"><br>
<p>{{courseDescription}}</p>
<!--exo6-->
<ul>
  <li *ngFor="let courses of course">name: {{courses.name}}, description: {{courses.description}}</li>
</ul>
<!--exo7-->
<!--exo8-->
<!--exo9-->
<h1>Liste des cours</h1>
<div *ngFor="let coursess of course">
  <app-course-item [courseItem]="coursess"></app-course-item>
</div>

<!--exo10-->
<div *ngFor="let courses of course">
  <app-course-item
    [courseItem]="courses"
    (courseSelected)="onCourseSelected($event)">
  </app-course-item>
</div>


